meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
meta(name='description', content='')
meta(name='viewport', content='width=device-width, initial-scale=1.0')

if city && city.og
  meta(property="og:title", content="#{city.og.title}")
  meta(property="og:site_name", content="#{city.og.siteName}")
  meta(property="og:url", content="#{city.og.url}")
  meta(property="og:image", content="#{city.og.image}")
  meta(property="og:description", content="#{city.og.description}")
  meta(property="fb:app_id", content="#{city.og.appId}")
  meta(property="og:type", content="#{city.og.type}")

