//- index file
//-
//-

extends layout/city

block content

  div.city-header
    div.row
      div.col-lg-12
        div.jumbotron.text-center
          div.navbar.navbar-transparent
            div.container
              div.navbar-header
                button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target=".navbar-collapse")
                  span.sr-only(Toggle navigation)
                  span.icon-bar
                  span.icon-bar
                  span.icon-bar
              div.navbar-collapse.collapse
                ul.nav.navbar-nav
                  li.active
                    a(href="#calendar") Calendar
                  li
                    a(href="#communities") Communities
                  li
                    a(href="#contact") Contact


          div.container
            div.row
              div.col-lg-6.col-lg-offset-3
                div.logo-wrapper
                  img(src="assets/wearetech-logo.png")
                div.city-name
                  h2 THESSALONIKI
                div.city-description
                  h3 This is an open website about the community of Thessaloniki's developers and techies. Meet the community and find out about upcoming events and meetups.
                div.social-share
                  ul.nav
                    li(style="margin-top:-7px;")
                      div(data-href="http://#{ city.hostname }", data-layout="button_count", data-action="like", data-show-faces="false", data-share="false", data-width="200").fb-like
                    li
                      a(href="https://twitter.com/share", data-url="http://#{ city.hostname }", data-text="#{ city.name }", data-size="medium", via="#{ city.twitter }" related="#{ city.twitter }").twitter-share-button Tweet
                    li
                      div(data-action="share", data-annotation="bubble", data-href="http://#{ city.hostname }").g-plus

  div.city-events
    div.container
      div.row
        div.col-lg-8.calendar-title
          h2 Calendar of upcoming events
          p.subtle-note view on Google Calendar, RSS, iCal
        div.col-lg-4
          h2.submit-event
            img(src="/img/submit-event.png")
            | &nbsp;How to submit an event
    div.container.calendar-items-block
      div.row
        div.col-lg-4.calendar-item-outer
          div.calendar-item-inner
            div.calendar-item-title
              h3.date
                br
                span.month
              h3.event-title
            div.calendar-item-content
              h4
              p
            div.calendar-item-footer
              span.hashtag #wearetogether
              div.social-icons
              div.google-calendar-icons
