//- Together event page
//-
//-

extends layout/together

block content

  div.together
    div.top-section
      div.container
        div.row.main-panel
          div.col-lg-8.col-lg-offset-2
            div.row
              div.col-lg-12.inner.panel-header
                header
                  h2 #{ together.name }
            div.row
              div.col-lg-12.inner.panel-body
                div.row
                  div.col-lg-12.inner-item
                    ul
                      li
                        img(src="/img/calendar-icon.svg")
                        | #{ together.dateText }
                      li
                        img(src="/img/map-icon.svg")
                        a(href="#{ together.mapLink }", target="_blank") #{ together.venueName }
                div.row
                  div.col-lg-12.main-item
                    p #{ together.tagline }
                div.row
                  div.col-lg-12.inner-item
                    div.social-share.pull-left
                      ul.nav
                        li
                          a(href="https://twitter.com/share", data-url="#{ city.hostname }/together", data-text="All #{ city.name } Communities in one place at the same time! #WeAreTogether", data-size="medium", via="#{ city.twitter }" related="#{ city.twitter }").twitter-share-button Tweet
                        li
                          div(data-action="share", data-annotation="bubble", data-href="#{ city.hostname }/together").g-plus
                        li
                          div(data-href="#{ city.hostname }/together", data-layout="button_count", data-action="like", data-show-faces="false", data-share="false", data-width="200").fb-like
                    div.pull-right.hashtag-nu
                      a(href="https://twitter.com/search?f=realtime&q=%23#{ together.hashtag.substr(1) }&src=typd") #{ together.hashtag }
    div.main-section
      div.container
        div.row
          div.col-lg-8
            div.row
              div.col-lg-12.description-panel
                h2 What we care about!
                p All the tech communities of Thessaloniki in one place at the same time, presenting what they are passionate about in a relaxed and casual way. Let the geek inside you run wild in this pure tech mashup!
                h3 Participate
                p Communities, teams and individuals
                h3 Purpose
                p The main purpose of this event is to meet
                h3 Who we are
                p We are SKGTech, a group of developers who aim to empower
          div.col-lg-4
            div.row
              div.col-lg-12.sidebar-schedule
                h2 The Schedule
                table.table.table-hover.table-schedule
                  tr
                    td.subevent Warmup
                    td.hours.text-right 18:30 - 19:00
                  tr
                    td.subevent Main Event
                    td.hours.text-right 19:00 - 20:30
                  tr
                    td.subevent Networking
                    td.hours.text-right 20:30 - 22:00
                  tr
                    td.subevent Beer time!
                      p.subevent-description @Terra Antiqua Art Cafe
                    td.hours.text-right 22:00 - drunk ;)
                div.lightning-talks
                  h4 Lightning Talks
                  p Throughout the event there will be
